* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding: 2rem;
  font-size: 1.5rem;
}
.button {
  background-color: rgb(217, 214, 214);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 16px;
}
