* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* gap: 12px; */
  background-color: #323232;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
